<h1>Profile</h1>
<div class="profile-container">
  <%# Display the Avatar %>
  <div class="av-container">
    <% if @user.avatar_name.present? %>
      <%= image_tag @user.avatar_name, alt: 'Avatar', class: 'avatar' %>
    <% else %>
      <%= image_tag "ash-pp.png", alt: 'Default Avatar', class: 'avatar' %>
    <% end %>
  </div>
  <div class="user-info"> <%# Display user info %>
    <p><strong>First name:</strong> <%= @user.first_name %></p>
    <p><strong>Last name:</strong> <%= @user.last_name %></p>
    <p><strong>Username:</strong> <%= @user.username %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
  </div>
  <%= link_to "Edit Account Settings", edit_user_registration_path, class: "btn btn-primary" %>
</div>
