<div class="container my-4">
  <h2 style="color: white; font-weight: bold; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); padding-bottom: 15px;">My Pokemons: </h2>
  <div class="content-wrapper">
    <div class="pokemon-grid">
      <% @pokemons.each do |pokemon| %>
        <div class="pokemon-card">
          <%= link_to pokemon_path(pokemon) do %> <!-- Entire card is a link to the show details page -->
          <div class="card-body">
            <div class="img-placeholder">
              <%= cl_image_tag pokemon.photo.key, height: 300, width: 400, crop: :fill if pokemon.photo.attached? %>
            </div>
            <div class="info">
              <div>
                <p class="name"><%= pokemon.name %></p>
              </div>
                <p> Mana-cost:
                  <% pokemon.price_per_day.to_i.times do %>
                    <img src="<%= asset_path "pngegg.png" %>" alt="Price Icon" class="price-icon">
                  <% end %>
                </p>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to new_pokemon_path, class: "btn btn-primary" do %>
    <%= image_tag("a-alphabet-round-circle-icon.png", alt: "A Icon", width: 20, height: 20, class: "icon") %>
    <span>Add a new Pokémon!</span>
  <% end %>

</div>
