<h1><%= @pokemon.name %></h1>
<div class="container">

  <%= cl_image_tag @pokemon.photo.key, height: 400, width: 250, crop: :fill if @pokemon.photo.attached? %>

  <p><strong>Ability:</strong> <%= @pokemon.ability %></p>
  <p><strong>Type:</strong> <%= @pokemon.pokemon_type %></p>
  <p><strong>Price per Day:</strong> $<%= @pokemon.price_per_day %></p>

  <%= simple_form_for([@pokemon, @booking]) do |form| %>
    <h2>Book this Pokémon</h2>

    <div>
      <%= form.input :booking_start, class: "datepicker", as: :string, placeholder: "Select a start date", input_html: { data: { controller: "datepicker" } } %>
    </div>

    <div>
      <%= form.input :booking_end, class: "datepicker", as: :string, placeholder: "Select an end date", input_html: { data: { controller: "datepicker" } } %>
    </div>

    <%= form.submit "Book Pokémon" %>
  <% end %>

  <%= link_to "Back to Pokémon List", pokemons_path %>
</div>
